<form [formGroup]="moviesForm" (ngSubmit)="addMovie()" class="addMovie">
    <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput placeholder="id"  formControlName="id">
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Movie name</mat-label>
        <input matInput placeholder="Movie name"   formControlName="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>rating</mat-label>
        <input matInput placeholder="rating"  formControlName="rating">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>poster</mat-label>
        <input matInput placeholder="poster"  formControlName="poster">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>trailer</mat-label>
        <input matInput placeholder="trailer"  formControlName="trailer">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>summary</mat-label>
        <input matInput placeholder="summary"  formControlName="summary">
      </mat-form-field>
    <!-- <input type="text"  > -->
    <!-- <label for="">rating</label>
    <input type="text" [(ngModel)]="rating">
    <label for="">poster</label>
    <input type="text" [(ngModel)]="poster">
    <label for="">summary</label>
    <input type="text" [(ngModel)]="summary"> -->
    
    <button type="submit" mat-raised-button color="primary">Add movie</button>
</form>
<!-- 
<section>
  
    <app-profile *ngFor="let movi of moviesList; let i=index" [movie]="movi" [index]="i" (deleteMovie)="removeclr($event)"></app-profile>
</section> -->