<form [formGroup]="moviesForm" (ngSubmit)="addMovie()" class="addMovie">
    <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput placeholder="id"  formControlName="id">
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Movie name</mat-label>
        <input matInput placeholder="Movie name"   formControlName="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>rating</mat-label>
        <input matInput placeholder="rating"  formControlName="rating">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>poster</mat-label>
        <input matInput placeholder="poster"  formControlName="poster">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>trailer</mat-label>
        <input matInput placeholder="trailer"  formControlName="trailer">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>summary</mat-label>
        <input matInput placeholder="summary"  formControlName="summary">
      </mat-form-field>
      <mat-slide-toggle formControlName="featured">Featured</mat-slide-toggle>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input formControlName="releaseYear" matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <h3>Censor Rating</h3>
  <mat-radio-group
    formControlName="censorRating"
    aria-label="Select an Censor rating"
  >
    <mat-radio-button value="U">U</mat-radio-button>
    <mat-radio-button value="U/A">U/A</mat-radio-button>
    <mat-radio-button value="A">A</mat-radio-button>
    <mat-radio-button value="R">R</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-label>Genres</mat-label>
    <mat-select formControlName="genres" multiple>
      <mat-option *ngFor="let genre of genres" [value]="genre.value">{{
        genre.label
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-selection-list formControlName="languages">
    <mat-list-option
      *ngFor="let language of languages"
      [value]="language.value"
    >
      {{ language.label }}
    </mat-list-option>
  </mat-selection-list>

  <mat-form-field class="example-chip-list">
    <mat-chip-grid #chipList>
      <mat-chip-row
        *ngFor="let name of cast.controls; let i = index"
        (removed)="removeCastName(i)"
      >
        {{ name.value }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
      <input
        placeholder="New cast name..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addCastName($event)"
      />
    </mat-chip-grid>
  </mat-form-field>
    <!-- <input type="text"  > -->
    <!-- <label for="">rating</label>
    <input type="text" [(ngModel)]="rating">
    <label for="">poster</label>
    <input type="text" [(ngModel)]="poster">
    <label for="">summary</label>
    <input type="text" [(ngModel)]="summary"> -->
    
    <button type="submit" mat-raised-button color="primary">Add movie</button>
</form>
<!-- 
<section>
  
    <app-profile *ngFor="let movi of moviesList; let i=index" [movie]="movi" [index]="i" (deleteMovie)="removeclr($event)"></app-profile>
</section> -->