<div>
  <!-- <app-addMovie [movie]="movies"></app-addMovie> -->
  <!-- <app-addmovie [movies]="moviesList"></app-addmovie> -->
  <!-- <app-profile *ngFor="let movi of movies; let i=index" [movie]="movi" [index]="i" [Movielist]="movies"></app-profile> -->
  <!-- <app-counter></app-counter> -->
  <nav>
  <ul>
    <li><a routerLink="/movies/add">Add Movie</a></li>
    <li><a routerLink="/color">color</a></li>
    <li><a routerLink="/">home</a></li>
    <li><a routerLink="/movies">materialUi Movie</a></li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
