<!-- <app-addMovie [movie]="movies"></app-addMovie> -->
<!-- <app-addmovie [movies]="moviesList"></app-addmovie> -->
<!-- <app-profile *ngFor="let movi of movies; let i=index" [movie]="movi" [index]="i" [Movielist]="movies"></app-profile> -->
<!-- <app-counter></app-counter> -->
<mat-toolbar color="primary">
  <nav>
    <ul>
      <li><button mat-raised-button color="primary"  routerLink="/">Home</button></li>
      <li><button mat-raised-button color="primary"  routerLink="/color">Color</button></li>
      <li><button mat-raised-button color="primary"   routerLink="/movies/add">Add Movie</button></li>
      <li><button mat-raised-button  color="primary" routerLink="/movies">MaterialUi Movie</button></li>
    </ul>
  </nav>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
