img{
    height: 25rem;
    border-radius: 10px 10px  0 0;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.contentDiv{
    padding: 1rem;
    position: relative;
    height: 10rem;
    overflow: hidden;
}
.container:hover button{
    visibility: visible;
}
button{
    position: absolute;
    top :0;
    right: 0;
    border: none;
    visibility: hidden;
}
h3{
    display: inline;
}
.rating{
    position: absolute;
    right: 0;
}
.container{
    width: 18rem;
    margin: 2rem;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
}
p{
    text-align: left;
}
